#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav ul {
  display:inline-block;
  list-style-type: none;
  background-color: #00000024;
  padding: 10px;
  border: 2px solid;
  border-radius: 8px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  align-content: center;
}

nav ul li a:hover {
  text-decoration: underline;
}

